
    
 @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    font-family: "Exo", serif;
}


#conteiner{
    margin: 0 auto; /* Margem automática nos lados */
    background-color:white;
    display: flex;
    width:80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:500px;
}

#login{
    width:30%;
    display:flex;
    text-align:center;
    font-size:30px;
    align-items: center;
    padding: 50px;
}
input{
    font-size:23px;
    padding:5px ;
    margin: 20px;
    border:0;
    border-bottom:solid #f4ac1a 2px;
    color: #080707;
    outline: 0;   
}
#foto{
    width:60%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image:url(imagens/smartphone-570507_640.jpg);
    background-position:center;
    background-size: cover;
    
}

form{
    width:100%;
    margin:auto;
}
label{
    padding:10px;
}
.botoes{
    background-color:#f4ac1a ;
    padding-inline: 30px;
    font-size: 20px;
    border-radius:20px;  
}

/*  fim da parte do login */

.corpo{
    display:flex;
    background-color:white;
   
  
  
}
aside{
    display:flex;
    flex-direction:column;
    text-align:center;
    width:18%;
    height:700px;
    background-color:black;
}
a{
    font-size:25px;
    padding:5px;
    text-decoration:none;
    color:#f4ac1a;
    padding: 20px;
    border-radius:10px;
    margin:10px;
}
a:hover{
    background-color: #f4ac1a;
    color: #080707;
}
#conteiner2{
    width:82%;
    text-align:center;   
}

#formdescriçao{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    background-color: black;
    text-align: center;
    align-content: center;
    align-items: center; 
}
textarea{
    width:70%;
    height:300px;
    background-color:#f4ac1a;
    color:black;
    font-size:20px;
    text-align:left;
    padding: 10px; 
}

h1{
    color: #f4ac1a;
    padding:20px;
}

input{
    text-align:left;
    width:70%;
    padding:18px;
}
#usuarios{
    width:50%;
    display: flex;
    flex-direction: column;
    text-align: left; 
}
#usuarios input{
    text-align: left;
}

.cadastrar{
    background-color: #f4ac1a;
    width:20%;
    align-items:center;
    border-radius:20px;
    padding:10px;
    font-size: 25px;   
}

table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75%;
    font-size:20px;
    color: #f4ac1a;
    border-collapse: collapse;
    text-align:left;
    margin-left:100px;
}
td, th{
    border:solid black 1px;
    padding:20px;
    text-align:left;   
}

th{
    background-color: #080707;
    text-align:left;
}
td{
    color: #080707;
}
#deletar{
    color: red;
    text-align: center;
    font-size: 30px;
}
#atualizar{
    color:blue;
    text-align: center;
    font-size: 30px;
}
#marcar{
    color:green;
    text-align:center;   
}
#info{
    color:black;
    font-size:70px;
}
#menuc{

    background-image: url(imagens/pc-1207886_640.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:85%;
    height:700px;
}

.ca{
    width:20%;
    padding:18px;
    background-color: #f4ac1a;
    border-radius:10px;
    text-align:center;

}


.corpologin{
    display:flex;
    background-color:#f4ac1a;
   
  
  
}







